/*Personalização da Imagem do Topo*/
#boxFormulario{
    display: inline-block;
    padding-top: 90px;
    padding-bottom: 40px;
    width: 100%;
    background: url('../img/img-topo-1.jpg') no-repeat;
    background-size: cover;
}

#formulario{
    margin-left: 70%;
    margin-right: 20%;
    margin-top: 40px;
    
    width: 300px;
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}

#formulario #titulo1, #titulo2{
    font-size: 19px;
}

#formulario #titulo2{
    color: #954056;
    margin-top: 20px;
    margin-bottom: 30px;
}

#formulario input, textarea{
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

#formulario input{
    height: 40px;
}

#formulario #btnForm{
    background-color: #954056;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

/*Comandos media query*/
@media (max-width: 1100px) {
    #formulario{
        float: none;
        margin-left: 60%;
    }
}

@media (max-width: 800px) {
    #formulario{
        float: none;
        margin-left: 50%;
    }
}

@media (max-width: 600px) {
    #formulario{
        float: none;
        margin-left: 20px;
    }
}